<a href="https://colab.research.google.com/github/krackalackel02/CS-M148/blob/main/L1_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from datascience import *
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')

<ipython-input-1-32c06f677933>:7: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-whitegrid')

In [ ]:
people_measurements = Table().with_columns(
    'height', make_array(*range(58,73)),
    'weight', make_array(115, 117, 120, 123, 126, 129, 132, 135, 139, 142, 146,150, 154,159,164)
)
people_measurements

height | weight
58     | 115
59     | 117
60     | 120
61     | 123
62     | 126
63     | 129
64     | 132
65     | 135
66     | 139
67     | 142
... (5 rows omitted)